//========== colors

$transparent: rgba(0, 0, 0, 0); // Fully transparent
$blue: #007EFF;
$blue-light: #8ac0f6;
$orange: rgba(238, 95, 56, 1);
$orange-light: #FCE5DF;
$sea-green : #48CDA0;
$sea-green-light : #DCF6ED;
$goldenrod: #E6BC13;
$goldenrod-light: #f7e188;
$grayish-light:#E5E7EB;
$Caribbean-green : #09d580;
$Caribbean-green-light : #aef6dd;
$bright-cyan : #07f4f8fe;
$bright-cyan-light : #a8f8f9fe;
$black : #000000;
$white : rgba(255, 255, 255, 1);
$silvar : #DDDDDD;
$ash : #878787;

//========== font

$pop: "Poppins", sans-serif;
$rub: "Rubik", sans-serif;
$hee: "Heebo", sans-serif;

